# üè¶ Pr√°ctica SQL Bancaria - Sesi√≥n de Trabajo

## üéØ Objetivo: Practicar consultas SQL reales en datos bancarios

### üìã Plan de la sesi√≥n:
1. **Conexi√≥n r√°pida** a la base de datos
2. **Ejercicios pr√°cticos** de consultas SQL
3. **Correcci√≥n de errores** en tiempo real
4. **Tips y mejores pr√°cticas** bancarias

---

## üîó Conexi√≥n R√°pida

In [1]:
# Conexi√≥n r√°pida a la base de datos
import sqlite3
import pandas as pd

# Conectar a la base de datos bancaria
conn = sqlite3.connect('../data/banking_core.db')
print("‚úÖ Conectado a la base de datos bancaria")

# Ver las tablas disponibles
tablas = pd.read_sql_query("""
    SELECT name FROM sqlite_master 
    WHERE type='table' AND name NOT LIKE 'sqlite_%'
""", conn)

print("üè¶ Tablas disponibles:")
for tabla in tablas['name']:
    print(f"   üìã {tabla}")

‚úÖ Conectado a la base de datos bancaria
üè¶ Tablas disponibles:
   üìã clientes
   üìã productos_financieros
   üìã cuentas
   üìã prestamos
   üìã transacciones
   üìã sucursales
   üìã balance_general
   üìã estado_resultados

## üìä Ejercicio 1: Consultas B√°sicas de Clientes

**Objetivo:** Practicar SELECT, WHERE, ORDER BY

### üéØ Tu turno: Intenta escribir estas consultas

In [2]:
# üß™ √ÅREA DE PR√ÅCTICA LIBRE
# Escribe aqu√≠ tus consultas SQL y las revisamos juntos

# Primero, veamos la estructura de la tabla clientes
estructura = pd.read_sql_query("PRAGMA table_info(clientes)", conn)
print("üìã Estructura de la tabla clientes:")
print(estructura[['name', 'type']].to_string(index=False))

print("\n" + "="*50)
print("‚úèÔ∏è  Ahora intenta tus consultas aqu√≠ abajo:")
print("="*50)

üìã Estructura de la tabla clientes:
              name          type
        cliente_id       INTEGER
    numero_cliente   VARCHAR(20)
           nombres  VARCHAR(100)
         apellidos  VARCHAR(100)
    tipo_documento   VARCHAR(10)
  numero_documento   VARCHAR(20)
  fecha_nacimiento          DATE
            genero    VARCHAR(1)
      estado_civil   VARCHAR(20)
          telefono   VARCHAR(20)
             email  VARCHAR(100)
         direccion          TEXT
            ciudad   VARCHAR(50)
      departamento   VARCHAR(50)
     codigo_postal   VARCHAR(10)
         ocupacion  VARCHAR(100)
ingresos_mensuales DECIMAL(15,2)
  segmento_cliente   VARCHAR(50)
 fecha_vinculacion          DATE
            estado   VARCHAR(20)
        created_at     TIMESTAMP
        updated_at     TIMESTAMP

==================================================
‚úèÔ∏è  Ahora intenta tus consultas aqu√≠ abajo:
==================================================

In [6]:
# üîß ESCRIBE TU CONSULTA AQU√ç:
# Ejemplo: Mostrar los primeros 5 clientes activos

mi_consulta = """
-- Escribe tu consulta SQL aqu√≠
-- Objetivo: MOSTRA LOS PRIMEROS TRES CLIENTES
    SELECT CONCAT(nombres, ' ', apellidos) AS nombre_completo
        FROM clientes
        WHERE estado = 'Activo';
"""

try:
    resultado = pd.read_sql_query(mi_consulta, conn)
    print("‚úÖ Consulta ejecutada correctamente:")
    print(resultado)
except Exception as e:
    print(f"‚ùå Error en la consulta: {e}")
    print("üí° No te preocupes, revisemos el error juntos")

‚úÖ Consulta ejecutada correctamente:
Empty DataFrame
Columns: [nombre_completo]
Index: []

## üí° Tips SQL para Banca

### ‚úÖ Buenas Pr√°cticas:
1. **Siempre filtra por estado activo** cuando trabajas con clientes/cuentas
2. **Usa CASE WHEN** para clasificar montos (positivos/negativos)
3. **Maneja fechas cuidadosamente** - usa funciones como `date('now', '-30 days')`
4. **Agrega l√≠mites** a tus consultas para evitar resultados masivos
5. **Usa alias descriptivos** para las columnas calculadas

### ‚ö†Ô∏è Errores Comunes:
- Olvidar el `GROUP BY` cuando usas agregaciones
- No filtrar registros inactivos
- Confundir INNER JOIN con LEFT JOIN
- No manejar valores NULL correctamente

---

### üéØ **¬°Comparte tus consultas con errores y las revisamos juntos!**

## üìä Ejercicio 1: Consultas B√°sicas de Clientes

**Objetivo:** Practicar SELECT, WHERE, ORDER BY

In [ ]:
# EJERCICIO 1A: Mostrar los primeros 10 clientes activos
# TODO: Escribe tu consulta aqu√≠

consulta_1a = """
-- Tu consulta aqu√≠:
-- Selecciona cliente_id, nombre_completo, segmento_cliente, fecha_vinculacion
-- de la tabla clientes donde estado = 'ACTIVO'
-- Ordena por fecha_vinculacion m√°s reciente primero
-- Limita a 10 resultados
"""

# Descomenta cuando tengas tu consulta:
# resultado_1a = pd.read_sql_query(consulta_1a, conn)
# print(resultado_1a)

In [ ]:
# SOLUCI√ìN EJERCICIO 1A (CORREGIDA):
consulta_1a_solucion = """
SELECT 
    cliente_id,
    CONCAT(nombres, ' ', apellidos) as nombre_completo,
    segmento_cliente,
    fecha_vinculacion
FROM clientes 
WHERE estado = 'ACTIVO'
ORDER BY fecha_vinculacion DESC
LIMIT 10;
"""

resultado_1a = pd.read_sql_query(consulta_1a_solucion, conn)
print("‚úÖ √öltimos 10 clientes vinculados:")
print(resultado_1a)

print("\nüí° Error corregido:")
print("‚úì Usamos CONCAT(nombres, ' ', apellidos) en lugar de nombre_completo")
print("‚úì La tabla tiene columnas separadas: 'nombres' y 'apellidos'")

## üí∞ Ejercicio 2: An√°lisis de Cuentas y Saldos

**Objetivo:** Practicar agregaciones (SUM, AVG, COUNT)

In [ ]:
# EJERCICIO 2A: Resumen por tipo de cuenta
# TODO: Crea una consulta que muestre:
# - tipo_cuenta
# - cantidad de cuentas
# - saldo total
# - saldo promedio
# Agrupa por tipo_cuenta y ordena por saldo total descendente

consulta_2a = """
-- Tu consulta aqu√≠:

"""

# Descomenta cuando tengas tu consulta:
# resultado_2a = pd.read_sql_query(consulta_2a, conn)
# print(resultado_2a)

In [ ]:
# SOLUCI√ìN EJERCICIO 2A:
consulta_2a_solucion = """
SELECT 
    tipo_cuenta,
    COUNT(*) as cantidad_cuentas,
    SUM(saldo_actual) as saldo_total,
    AVG(saldo_actual) as saldo_promedio
FROM cuentas 
WHERE estado = 'ACTIVA'
GROUP BY tipo_cuenta
ORDER BY saldo_total DESC;
"""

resultado_2a = pd.read_sql_query(consulta_2a_solucion, conn)
print("‚úÖ Resumen por tipo de cuenta:")
print(resultado_2a)

## üîÑ Ejercicio 3: An√°lisis de Transacciones

**Objetivo:** Practicar CASE WHEN, filtros de fecha

In [ ]:
# EJERCICIO 3A: Transacciones por tipo en el √∫ltimo mes
# TODO: Crear consulta que muestre:
# - tipo_transaccion
# - cantidad de transacciones
# - total ingresos (montos positivos)
# - total egresos (montos negativos, convertir a positivo)
# Solo transacciones del √∫ltimo mes

consulta_3a = """
-- Tu consulta aqu√≠:

"""

# Descomenta cuando tengas tu consulta:
# resultado_3a = pd.read_sql_query(consulta_3a, conn)
# print(resultado_3a)

In [ ]:
# SOLUCI√ìN EJERCICIO 3A:
consulta_3a_solucion = """
SELECT 
    tipo_transaccion,
    COUNT(*) as cantidad_transacciones,
    SUM(CASE WHEN monto > 0 THEN monto ELSE 0 END) as total_ingresos,
    SUM(CASE WHEN monto < 0 THEN ABS(monto) ELSE 0 END) as total_egresos
FROM transacciones 
WHERE fecha_transaccion >= date('now', '-30 days')
GROUP BY tipo_transaccion
ORDER BY cantidad_transacciones DESC;
"""

resultado_3a = pd.read_sql_query(consulta_3a_solucion, conn)
print("‚úÖ Transacciones por tipo (√∫ltimo mes):")
print(resultado_3a)

## üéØ √Årea de Pr√°ctica Libre

**Aqu√≠ puedes escribir y probar tus consultas. Si tienes errores, los revisamos juntos.**

In [ ]:
# üß™ √ÅREA DE PRUEBAS - Escribe tus consultas aqu√≠

# Ejemplo: Ver estructura de una tabla
estructura_clientes = pd.read_sql_query("PRAGMA table_info(clientes)", conn)
print("üìã Estructura de la tabla clientes:")
print(estructura_clientes[['name', 'type']].to_string(index=False))

In [ ]:
# üîß TU CONSULTA AQU√ç:
# Escribe cualquier consulta que quieras probar

mi_consulta = """
-- Escribe tu consulta aqu√≠
SELECT 'Hola SQL Bancario!' as mensaje;
"""

try:
    resultado = pd.read_sql_query(mi_consulta, conn)
    print("‚úÖ Consulta ejecutada correctamente:")
    print(resultado)
except Exception as e:
    print(f"‚ùå Error en la consulta: {e}")
    print("üí° Revisemos el error juntos")

# üèôÔ∏è PROBLEMA 2: Ranking de Ciudades por Ingresos
# OBJETIVO: Ranking de ciudades por promedio de ingresos anuales

# Instrucciones detalladas:
# 1. Agrupa por ciudad
# 2. Calcula el promedio de ingresos_anuales por ciudad  
# 3. Cuenta cu√°ntos clientes hay por ciudad
# 4. Ordena de mayor a menor promedio de ingresos
# 5. Solo clientes activos

mi_consulta = """
-- üéØ Tu consulta para el Problema 2:
-- Pistas: usa GROUP BY, AVG(), COUNT(), ORDER BY DESC
-- Columnas a mostrar: ciudad, promedio_ingresos, cantidad_clientes

SELECT 
    ciudad,
    AVG(ingresos_anuales) as promedio_ingresos,
    COUNT(*) as cantidad_clientes
FROM clientes
WHERE estado = 'ACTIVO'
GROUP BY ciudad
ORDER BY promedio_ingresos DESC;
"""

try:
    resultado = pd.read_sql_query(mi_consulta, conn)
    print("‚úÖ Ranking de ciudades por ingresos:")
    print(resultado)
except Exception as e:
    print(f"‚ùå Error en la consulta: {e}")
    print("üí° Pistas para corregir:")
    print("  - ¬øUsaste GROUP BY ciudad?")
    print("  - ¬øAgregaste AVG(ingresos_anuales)?")
    print("  - ¬øOrdenaste con ORDER BY promedio DESC?")

## üöÄ Desaf√≠os SQL Bancarios

**Cuando est√©s listo, intenta estos desaf√≠os m√°s complejos:**

In [ ]:
# DESAF√çO 1: Clientes con m√°s de una cuenta
# TODO: Encuentra clientes que tengan m√°s de una cuenta activa
# Muestra: cliente_id, nombre_completo, cantidad_cuentas, saldo_total

# Tu consulta aqu√≠:

In [ ]:
# DESAF√çO 2: TOP 5 clientes con m√°s movimientos
# TODO: Encuentra los 5 clientes con m√°s transacciones en el √∫ltimo mes
# Usa JOINs entre clientes, cuentas y transacciones

# Tu consulta aqu√≠:

## üí° Tips SQL para Banca

### ‚úÖ Buenas Pr√°cticas:
1. **Siempre filtra por estado activo** cuando trabajas con clientes/cuentas
2. **Usa CASE WHEN** para clasificar montos (positivos/negativos)
3. **Maneja fechas cuidadosamente** - usa funciones como `date('now', '-30 days')`
4. **Agrega l√≠mites** a tus consultas para evitar resultados masivos
5. **Usa alias descriptivos** para las columnas calculadas

### ‚ö†Ô∏è Errores Comunes:
- Olvidar el `GROUP BY` cuando usas agregaciones
- No filtrar registros inactivos
- Confundir INNER JOIN con LEFT JOIN
- No manejar valores NULL correctamente

In [ ]:
# Cerrar conexi√≥n
conn.close()
print("üîå Conexi√≥n cerrada")

In [ ]:
# üéØ CELDA SIMPLE - SOLO PARA TI
# Esta es la √öNICA celda que necesitas ejecutar ahora

import sqlite3
import pandas as pd

# Conectar a la base de datos
conn = sqlite3.connect('../data/banking_core.db')

# Consulta simple: Ranking de ciudades por ingresos
consulta = """
SELECT 
    ciudad,
    AVG(ingresos_anuales) as promedio_ingresos,
    COUNT(*) as cantidad_clientes
FROM clientes
WHERE estado = 'ACTIVO'
GROUP BY ciudad
ORDER BY promedio_ingresos DESC;
"""

# Ejecutar y mostrar resultados
resultado = pd.read_sql_query(consulta, conn)
print("üèôÔ∏è RANKING DE CIUDADES POR INGRESOS:")
print("="*50)
print(resultado)

conn.close()